@import 'antd/dist/antd.min.css';

.Login {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://cdn.discordapp.com/attachments/776795674594639873/1033032697389531176/assortment-cinema-elements-red-background-with-copy-space_2.jpg');
  background-size: cover;
  z-index: 1;
}

.submain {
  text-align: center;
  width: 35%;
  .ant-btn{
    background-color: red;
    width: 150px;
    color: white;
    font-weight: bold;
    border-radius: 16px;
  }
  .ant-input-affix-wrapper{
    border-radius: 20px;
  }
  .ant-input-password{
    width: 100%;
  }
}
